body {
  background-color: #ebf1f1;
  color: white;
  padding: 40px;
}

/* 
from navbar img line
<img src={photo} width="30" height="30" className="d-inline-block align-top" alt="" /> */

#rcorners1 {
  background: #c5b4ee;
  border-color: black;
  border-style: solid;
  width: 500px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 15px;
}


.button {
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
background-color: rgb(247, 242, 242);
color: rgb(160, 131, 131);
border: none;
}

.button1 {
  padding-left: 2px;
}

.button2 {
  padding-right: 0px;
}